.panel {
    background-color: rgba(117, 245, 244, 0);
    -unity-background-scale-mode: stretch-to-fill;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 18px;
}

.cathegory-list {
    height: 100%;
}
